*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	font-family: "微软雅黑" "times new roman" "宋体";
	font-size: 62.5%;
}
.headerBg{
	line-height: 32px;
    background: #f9f9fc;
    border-bottom: 1px solid #dfe0e5;
    color: #333333;
    width: 100%;
    height: 32px;
    min-width: 1090px;
}
.headerTop{
	width: 1088px;
	height: 32px;
    margin: 0 auto;
    display: block;
    /*overflow: hidden;*/
    clear: both;
}
.headerTop a:hover{
	text-decoration: underline;
}
.header_left{
	width: 500px;
	height: 32px;
	/*overflow: hidden;*/
	/*background: pink;*/
	float: left;
}
.header_left a{
	margin-right: 10px;
	color: #666666;
	text-decoration: none;
	/*display: inline-block;*/
}
.header_left span{
	padding-left: 15px;
	margin-right: 3px;
}
.header_left .sj{
	width: 0px;
	height: 0px;
	border-top: 4px solid #ff692a;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    top: 13px;
    left: 30px;
}
.header_left .login{
	width: 50px;
	height: 33px;
	color: #ff692a;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.header_left .login_fs{
	background: url(../img/lh_ico2.png) no-repeat;
	width: 122px;
    height: 51px;
    position: absolute;
    left: 0;
    top: 20px;
    display: none;
    z-index: 99;
}
.header_left .login:hover .login_fs{
	display: block;
}
.header_left .login_fs .qq{
	background: url(../img/lh_ico3.png) 1px 16px no-repeat;
    width: 64px;
    display: inline-block;
    height: 51px;
}
.header_left .login_fs .sina{
	background: url(../img/lh_ico3.png) -65px 16px no-repeat;
    display: inline-block;
    width: 20px;
    height: 51px;
}
.header_left .login_fs .weixin{
	background: url(../img/lh_ico3.png) -87px 16px no-repeat;
    display: inline-block;
    width: 28px;
    height: 51px;
}
.headerBg .headerTop .header_left .login_fs a{
	margin-right: 0px;
}
/*header_left*/

.header_right{
	float: right;
	width: 299px;
	height: 32px;
}
.header_right ul{
	list-style: none;
	height: 32px;
	overflow: hidden;
}
.header_right li{
	float: left;
	margin-left: 15px;
}
.header_right li img{
	vertical-align: middle;
}
.header_right a{
	color: #666666;
	text-decoration: none;
}
.header_right a:hover{
	text-decoration: underline;
}
.header_right ul li b{
	color: #ff692a;
	font-weight: bold;
	text-decoration: none;
}
/*header_right*/

.header_main{
	background: #fff;
    height: 108px;
    min-width: 1088px;
}
.header_nav{
	width: 1088px;
    height: 68px;
    /*background: #eee;*/
    margin: 0 auto;
    padding: 20px 0;
}
.header_nav .logo{
	float: left;
	height: 68px;
}
.header_nav .logo a{
	text-decoration: none;
}
.header_nav .logo a span{
	display: inline-block;
	width: 0px;
    height: 40px;
    background: transparent;
    border: 1px solid #EEEEEE;
    margin-bottom: 12px;
    margin-left: 10px;
    margin-right: 10px;
}
.header_nav .nav_right{
	float: right;
	width: 670px;
	height: 68px;
}
.header_nav .nav_middle{
	width: 290px;
	height: 35px;
	padding: 17px 0 17px 0;
	float: left;
}
.nav_right .serch{
	width: 250px;
	height: 35px;
	background: #ff4c00;
	border-radius: 5px 0 0 5px;
}
.nav_right .serch input{
	width: 220px;
	height: 31px;
	background: #FFFFFF;
	border: none;
	color: #999;
	border-radius: 3px 0 0 3px;
	margin-top: 1.5px;
	margin-left: 2px;
	outline: none;
	float: left;
}
.nav_right .serch_img{
	float: right;
	background: #ff4c00;
	padding: 8px 25px 4px 22px;
	margin-top: -35px;
	border-radius: 5px;
}
.nav_right .nav_right_second{
	margin-right: 10px;
	height: 68px;
	float: left;
}
.nav_right_second ul{
	list-style: none;
	margin-left: 27px;
}
.nav_right_second li{
	float: left;
	margin-right: 10px;
}
.cart{
	width: 155px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border: 1px solid #ff4c00;
    color: #fff;
    border-radius: 5px;
    background: #ff4c00 url(../img/cart.png) no-repeat top left;
    background-position: 5px 5px;
    cursor: pointer;
    float: right;
    margin: 16px 0 0 0;
    position: relative;
    z-index: 999;
}
.cart:hover{
	border: 1px solid #ff4c00;
	border-bottom: none;
	color: #ff4c00;
	background: #fff url(../img/cart.png) no-repeat bottom left;
	background-position: 5px -39px;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid white;
}

.cart .cart_number{
    border-radius: 50px;
    background-color: #fff;
    border: 1px solid #ff4c00;
    color: #ff4c00;
    position: absolute;
    top: 0px;
    left: 19px;
    width: 15px;
    height: 15px;
    line-height: 15px;
}
.cart .car{
	width: 108px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	border-left: 1px solid #ff8450;
	float: right;
	margin-top: 9px;
}
.cart .car i{
	width: 6px;
    height: 6px;
    display: inline-block;
    background: url(../img/ic_cart.png) no-repeat;
    margin-left: 20px;
}
.cart:hover .car i{
	width: 6px;
    height: 6px;
    display: inline-block;
    background: url(../img/ic_cart.png) no-repeat;
    background-position: 0 -18px;
    margin-left: 20px;
}
.select{
	width: 340px;
    min-height: 90px;
    border: 1px solid #ff4c00;
    position: absolute;
    right: -1px;
    top: 36px;
    background-color: #fff;
    display: none;
}
.select p{
	color: #333333;
	line-height: 15px;
	margin-top: 15px;
}
.select .gotosee{
	width: 100px;
	height: 35px;
	line-height: 35px;
	background: #ff4c00;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.select .gotosee a{
	color: white;
	text-decoration: none;
	font-size: 14px;
}
.select .gotosee a:hover{
	text-decoration: underline;
}
.cart:hover .select{
	display: block;
}
hr{
	width: 155px;
	height: 1px;
	border: 0;
	background: #FFFFFF;
	position: absolute;
	top: -1px;
	right: 0;	
}
/* header_main */

.nav_top_bg{
	width: 100%;
	height: 38px;
	background: #ff692a;
}
.nav_top{
	width: 1088px;
	height: 38px;
	background: #ff692a;
	margin: 0 auto;
}
.nav_top .bigbox{
	display: inline-block;
}
.nav_top .navTop01{
	width: 145px;
	height: 38px;
	line-height: 38px;
	color: white;
	text-align: center;
	display: inline-block;
	cursor: pointer;
}

/*navTab begin*/
.nav_top .navTab{
	width: 1088px;
	height: auto;
	background: #fff;
	position: absolute;
	z-index: 999;
	border: 1px solid #f4f4f4;
	border-top: 0;
	box-shadow: 0px 3px 5px #737373;
	padding: 0 15px 15px 15px;
	display: none;
}
.navTab ul{
	list-style: none;
	width: 100%;
	height: auto;
	overflow: hidden;
}
.navTab ul li{
	display: block;
	float: left;
	width: 31%;
	height: auto;
	padding: 10px;
}
.navTab ul li a{
	text-decoration: none;
}
.navTab ul li a:hover{
	text-decoration: underline;
}
.navTab ul li p a{
	color: #999;
	padding-right: 10px;
	line-height: 5px;
	display: inline-block;
	height: 25px;
}
.navTab ul li p b a{
	color: #000;
}
.navTab ul li h2{
	margin-bottom: 10px;
}
.navTab ul li h2 img{
	vertical-align: middle;
}
.navTab ul li h2 a{
	color: #000;
}
.navTab .ul_top li{
	border-top: none !important;
}
.nav_top .navTab .ul_top{
	height: 406px;
	border-bottom: 1px dashed #eee;
}
.nav_top .navTab .li_mid{
	border-left: 1px dashed #eee;
	border-right: 1px dashed #eee;
}

/*navTab end*/

.nav_top .navTop01 h2{
	font-size: 14px;
	display: inline-block;
}
.nav_top .navTop01 img{
	margin-right: 5px;
}
.nav_top .navTop01 span{
	color: #fff;
	position: absolute;
	left: 532px;
	top: 140px;
}

.sanjiao{
	display: none;
}
.nav_top .navTop01:hover{
	background: #f64900;
}
.nav_top .navTop01:hover .sanjiao{
	display: block;
}
.nav_top .navTop01:hover .shizi{
	display: none;
}

.nav_top .navTop02{
	width: 120px;
	height: 38px;
	line-height: 38px;
	color: white;
	text-align: center;
	display: inline-block;
	margin-left: -4px;
}
.nav_top h2 a{
	font-size: 15px;
	color: white;
	text-decoration: none;
}
.nav_top .navTop03{
	width: 120px;
	height: 38px;
	line-height: 38px;
	color: white;
	text-align: center;
	display: inline-block;
	margin-left: -4px;
	background: #f64900;
}
.nav_top .navTop02:hover{
	background: #f64900;
}
.clear{
	clear: both;
	content: '';
	height: 0;
	overflow: hidden;
	font-size: 0;
}
/*nav_top_bg*/

.banner_bg{
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}
.banner_bg ul{
	list-style: none;
	width: 100%;
	height: 320px;
	position: relative;
}
.banner_bg ul li{
	width: 100%;
	height: 320px;
	position: absolute;
	top: 0;
	left: 0;
}
/*banner end*/

/* bodyer_top */
.bodyer{
	width: 1088px;
	height: auto;
	margin: 20px auto 20px;
}
.bd_top,.bd_sen{
	width: 1088px;
    background-color: #fff;
    box-shadow: 0 0 6px #ccc;
    padding-top: 1px;
    position: relative;
}
.bd_top a{
	text-decoration: none;
	color: #666666;
}
.bd_top a:hover{
	color: red;
	text-decoration: underline;
}
.bd_top_box{
	border-bottom: 1px solid #f6f6f6;
    margin: 20px 2px 0;
    position: relative;
}
.bd_top_title{
	color: #c100ff;
    font-size: 14px;
    font-weight: bold;
    padding: 0 20px 0 30px;
    text-align: center;
    float: left;
    line-height: 40px;
    position: relative;
}
.bd_top ul{
	list-style: none;
	margin: 0 35px 0 108px;
	zoom: 1;
}
.bd_top ul::after{
	content: '';
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.bd_top ul li{
	margin-right: 28px;
    line-height: 40px;
    float: left;
    margin-bottom: 20px;
}
.bd_top ul li img{
	width: 29px;
    height: 29px;
    border-radius: 50%;
    border: 1px solid #ececec;
    margin-right: 10px;
    vertical-align: middle;
}
.showMore{
	position: absolute;
	top: 10px;
	right: 10px;
}
.bd_top .showMore a{
	color: #999999;
}
.bd_top .showMore a:hover{
	color: #999999;
}
.bd_top .showMore span{
	background-color: #fff;
    border: 1px solid #ff4c00;
    border-radius: 2px;
    color: #ff4c00;
    display: inline-block;
    margin-left: 4px;
    text-align: center;
    width: 15px;
    height: 15px;
    line-height: 15px;
}
.bd_top .bd_top_box ul .li_showMore,
.bd_top .bd_top_box ul .li_showMore1
{
	display: none;
}

/* bodyer_top  end */

.bd_sen{
	margin-top: 20px;
	overflow: hidden;
	position: relative;
}
.bd_sen a{
	text-decoration: none;
}
.bd_sen a:hover{
	text-decoration: underline;
}
.bd_sen_title{
	width: 1000px;
	height: auto;
	margin: 0 auto;
	border-bottom: 1px solid #EEEEEE;
}
.bd_sen_title h2{
	height: 50px;
	line-height: 50px;
}
.bd_sen_title h2 a{
	color: #333;
	text-decoration: none;
	margin: 0 3px;
}
.bd_sen_title h2 a:last-child{
	color: red;
}
.bd_sen ul{
	border-bottom: 1px solid #dfe0e5;
	width: 100%;
	height: auto;
	list-style: none;
	margin-top: 20px;
	overflow: hidden;
}
.bd_sen ul li{
	width: 250px;
	float: left;
	box-shadow: 0 0 5px #ccc;
	padding: 2px;
	margin: 1px 0 20px 11px;
	border: 2px solid transparent;
	/*background: pink;*/
}
.bd_sen ul li:hover{
	border-color: red;
	box-shadow: none;
}
.bd_sen ul li img{
	width: 250px;
    height: 254px;
}
.bd_sen ul li .title{
	padding: 10px 5px;
    width: 238px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bd_sen ul li .title a{
	color: #333;
}
.bd_sen ul li .number{
	color: #999;
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
}
.bd_sen ul li .number span{
	color: red;
	font-weight: bold;
	font-size: 16px;
	float: left;
	margin-right: 10px;
}
.bd_sen ul li .number i{
	font-style: normal;
	float: right;
}
/* bd_sen end*/

.bd_bot{
	margin: 20px 0;
}
/* bodyer  end */

.footer{
	height: auto;
	width: 100%;
	background: #f9f9fc;
}
.footerTop{
	width: 1088px;
	height: auto;
	margin: 0 auto;
	text-align: center;
}
.footer_cen{
	background: url(../img/footer_bg.png) repeat-x;
	width: 100%;
	height: 100px;
}
.footer_bot{
	margin: 0 auto;
	width: 1088px;
	height: auto;
	display: flex;
}
.footer_bot dl{
	flex: 6;
	margin-top: 10px;
}
.footer_bot dl dt{
	font-size: 14px;
	color: #000000;
	font-weight: bold;
}
.footer_bot dl dd{
	margin-top: 10px;
}
.footer_bot dl dd a{
	color: #999;
	font-size: 12px;
	text-decoration: none;
}
.footer_bot dl dd a:hover{
	text-decoration: underline;
}
.copyRight{
	width: 1088px;
	height: auto;
	margin: 0 auto;
	text-align: center;
	color: #999999;
	margin-top: 30px;
}
.copyRight img{
	margin-top: 20px;
	margin-bottom: 30px;
}
.copyRight a{
	color: #999999;
	text-decoration: none;
}
.copyRight a:hover{
	text-decoration: underline;
}
/*footer end*/

/*sideBar begin*/
.sideBar{
	width: 72px;
    height: auto;
    background: #fff;
    cursor: pointer;
    position: fixed;
    left: 50%;
    bottom: 200px;
    margin-left: 560px;
    z-index: 99999;
    display: none;
    box-sizing: border-box;
}
.sideBar .cartCar,
.sideBar .ewm,
.sideBar .kefu,
.sideBar .gotop{
	width: 70px;
    height: 44px;
    border: 1px solid #ededee;
    border-bottom-color: #fff;
}
.sideBar .gotop{
	border-bottom-color: #ededee;
	background: #fff url(../img/backTop.png) no-repeat top center;
    background-position: center 12px;
}
.sideBar .gotop:hover{
	background: #ff814c url(../img/backTop.png) no-repeat top center;
	background-position: center -21px;
}
.sideBar .kefu{
	background: url(../img/online.png) no-repeat center !important;
}
.sideBar .ewm{
	background: #fff url(../img/xg_app.jpg) no-repeat center;
}
.sideBar .cartCar{
	background: #fff url(../img/shop_cart.png) no-repeat center;
}
.sideBar .cartCar span{
	display: inline;
    padding: 0 5px;
    border-radius: 50px;
    background: #ff4c00;
    color: #fff;
    position: relative;
    top: 3px;
    left: 45px;
}
.sideBar .ewm:hover{
	border-color: #ff4c00;
	border-left-color: #FFFFFF;
}
.sideBar .ewm .ewm_hover{
	text-align: center;
	position: absolute;
	top: 46px;
	left: -145px;
	border: 1px solid #ff4c00;
	padding: 8px;
	cursor: pointer;
	background: #FFFFFF;
	display: none;
}
.sideBar .ewm .ewm_hover p{
	font-size: 12px;
	color: #333333;
}
.sideBar .ewm .ewm_hover h3{
	color: #ff4c00;
	font-size: 14px;
}
.sideBar .ewm .ewm_hover span{
	display: inline-block;
    width: 0;
    height: 42px;
    position: absolute;
    top: 0px;
    right: -1px;
    border: 1px solid #ffffff;
}
.sideBar .ewm:hover .ewm_hover{
	display: block;
}
/*sideBar end*/







